Repository jathoms/backtest-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-clear-outputs, doctest, docs

notebook-clear-outputs:
  name: reset jupyter notebook state
  entry: uv run jupyter nbconvert --clear-output
  language: system

doctest:
  name: run doctests
  entry: just doctest
  language: system
  pass_filenames: false

docs:
  name: build docs
  entry: just docs
  language: system
  pass_filenames: false

Add package publish action, bump CI environment to use python 3.14
  .github/actions/setup/action.yml
  .github/workflows/publish-package.yml
Due: none

add badges to README
  README.md
Due: none

rename unit test workflow for shield icon
  .github/workflows/unit-tests.yml
Due: none

add classifiers in pyproject
  pyproject.toml
Due: none

add classifiers for new release, bump version and bump deps
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: doctest, docs

make strategy parameters dynamic (a strategy now only needs a subset of the required arguments to allow for simple strategies)
  .github/workflows/build-and-deploy-docs.yml
  docs/source/reference/strategy/index.rst
  src/backtest_lib/engine/__init__.py
  src/backtest_lib/strategy/__init__.py
  tests/e2e/short_schedule_test.py
  tests/e2e/test_returns_track_price.py
Due: doctest, docs

improve documentation for Strategy type.
  docs/source/reference/decision/index.rst
  docs/source/reference/engine/decision/index.rst
  src/backtest_lib/strategy/__init__.py
Due: doctest, docs

bump version to 0.1.2, bump dependencies
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: doctest, docs

add hold strategy as example, exclude notebooks and example scratch code from package. update README
  README.md
  pyproject.toml
  src/backtest_lib/examples/__init__.py
  src/backtest_lib/examples/hold.py
Due: none

v0.2.0
  pyproject.toml
  uv.lock
Due: none

initial results serialization/deserialization
  src/backtest_lib/backtest/results.py
  tests/unit/backtest/test_results_persistence.py
Due: none

Fix strategy lookahead bug, pass past_market_view to engine instead of full market view
  src/backtest_lib/backtest/__init__.py
Due: none

use unseen prices as fill prices to maintain the invariant that the market data known at each decision point is strictly earlier than that which we fill trades with
  src/backtest_lib/backtest/__init__.py
  tests/conftest.py
  tests/data/spike_market.csv
  tests/e2e/test_spike_market_lookahead.py
Due: none

fix error message in make_decision_schedule
  src/backtest_lib/backtest/schedule.py
Due: none

Make implicit decision schedule skip first period (first period prices cannot be acted upon)
  src/backtest_lib/backtest/__init__.py
Due: none

update ewma notebook example
  src/backtest_lib/examples/ewma.ipynb
Due: notebook-clear-outputs

add some profiling testing + initial example backtest runner
  examples/__init__.py
  examples/profiling_backtest.py
  examples/runner.py
  pyproject.toml
  uv.lock
Due: none

mypy fixes sweep (not just pyrefly this time!)
  src/backtest_lib/engine/decision/__init__.py
  src/backtest_lib/engine/execute/__init__.py
  src/backtest_lib/engine/plan/__init__.py
  src/backtest_lib/examples/get_sp500_historical.py
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_timeseries.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/market/timeseries.py
  src/backtest_lib/universe/__init__.py
  src/backtest_lib/universe/universe_mapping.py
  src/backtest_lib/universe/vector_ops.py
  tests/unit/market/polars_impl/test_polars_past_view.py
  tests/unit/market/polars_impl/test_polars_universe_mapping.py
Due: none

mypy fixes sweep (not just pyrefly this time!)
  src/backtest_lib/engine/decision/__init__.py
  src/backtest_lib/engine/execute/__init__.py
  src/backtest_lib/engine/plan/__init__.py
  src/backtest_lib/examples/get_sp500_historical.py
  src/backtest_lib/examples/sp500.ipynb
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_timeseries.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/market/timeseries.py
  src/backtest_lib/universe/__init__.py
  src/backtest_lib/universe/universe_mapping.py
  src/backtest_lib/universe/vector_ops.py
  tests/unit/market/polars_impl/test_polars_past_view.py
  tests/unit/market/polars_impl/test_polars_universe_mapping.py
Due: notebook-clear-outputs

implement coalign-backed native universe mapping over polars universe mapping.
  .github/workflows/maturin-generated-CI.yml
  .gitignore
  justfile
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/past_view.rs
  rust/src/universe_mapping.rs
  src/backtest_lib/_rs.pyi
  src/backtest_lib/_rs/_rs.pyi
  src/backtest_lib/market/_backends.py
  src/backtest_lib/market/polars_impl/_axis.py
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/market/rust_impl/__init__.py
  src/backtest_lib/market/rust_impl/_past_view.py
  src/backtest_lib/market/rust_impl/_universe_mapping.py
  tests/benchmark/polars_impl/test_universe_mapping_benchmark.py
  tests/conftest.py
  tests/unit/market/polars_impl/test_polars_past_view.py
  tests/unit/market/polars_impl/test_polars_timeseries.py
  tests/unit/market/polars_impl/test_polars_universe_mapping.py
  tests/unit/portfolio/test_portfolio.py
  uv.lock
Due: none

use git-source for coalign dep, remove WIP past_view native impl for now
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/past_view.rs
Due: none

Clean up _rs module, move to manually maintained stubs, apply pre-commit checks
  rust/Cargo.toml
  rust/src/lib.rs
  src/backtest_lib/_rs.pyi
  src/backtest_lib/_rs/_rs.pyi
  tests/conftest.py
Due: none

update CI to properly include wheel builds in releases and non-release CI runs
  .github/actions/setup/action.yml
  .github/workflows/ci-lint-typecheck.yml
  .github/workflows/maturin-generated-CI.yml
  .github/workflows/publish-package.yml
  .github/workflows/unit-tests.yml
Due: none

remove s390x from linux CI matrix
  .github/workflows/maturin-generated-CI.yml
  .github/workflows/publish-package.yml
Due: none

Fix timeseries length mismatch error
  src/backtest_lib/market/polars_impl/_timeseries.py
  tests/unit/market/polars_impl/test_polars_timeseries.py
Due: none

Path conditions:
  notebook-clear-outputs: any of: \.ipynb$
  doctest: any of: ^docs/
  docs: any of: ^docs/
