Repository jathoms/backtest-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-clear-outputs, doctest, docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format (whole repo)
        entry: uv run ruff format
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff-check
        name: ruff check --fix (whole repo)
        entry: uv run ruff check --fix
        language: system
        pass_filenames: false
        always_run: true

      - id: pyrefly-check
        name: pyrefly check (whole repo)
        entry: uv run pyrefly check
        language: system
        pass_filenames: false
        always_run: true

      - id: pytest
        name: pytest (all tests)
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true

      - id: notebook-clear-outputs
        name: reset jupyter notebook state
        entry: uv run jupyter nbconvert --clear-output
        files: \.ipynb$
        language: system

      - id: doctest
        name: run doctests
        files: ^docs/
        entry: just doctest
        language: system
        pass_filenames: false

      - id: docs
        name: build docs
        files: ^docs/
        entry: just docs
        language: system
        pass_filenames: false

Make all notebooks pass new CI
  src/backtest_lib/examples/sp500_historical_const.ipynb
Due: notebook-clear-outputs

Move make_universe_mapping function into universe_mapping.py
  src/backtest_lib/engine/decision/__init__.py
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/portfolio/__init__.py
  src/backtest_lib/universe/universe_mapping.py
Due: none

Add initial tests for decision, plan, and execute areas of engine.
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/engine/plan/perfect_world.py
  tests/engine/decision/test_decision.py
  tests/engine/execute/test_perfect_world_executor.py
  tests/engine/plan/test_perfect_world.py
  tests/engine/plan/test_perfect_world_plan_generator.py
Due: none

Remove initial sketch documents
  documents/background.md
  documents/design.md
Due: none

Change Portfolio to PortfolioBase, add Portfolio as a union of actual portfolio types
  src/backtest_lib/backtest/__init__.py
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/portfolio/__init__.py
  tests/conftest.py
  tests/data/single_security.csv
  tests/e2e/test_returns_track_price.py
  tests/unit/engine/decision/test_decision.py
  tests/unit/engine/execute/test_perfect_world_executor.py
  tests/unit/engine/plan/test_perfect_world_plan_generator.py
  tests/unit/market/polars_impl/test_axis.py
Due: none

Rename SeriesUniverseMapping to PolarsUniverseMapping
  pyproject.toml
  src/backtest_lib/examples/ewma.ipynb
  src/backtest_lib/examples/full_sp500_test.ipynb
  src/backtest_lib/examples/ordering_tests.ipynb
  src/backtest_lib/examples/sp500.ipynb
  src/backtest_lib/examples/trades_tests.ipynb
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/polars_impl/__init__.py
  src/backtest_lib/market/polars_impl/_helpers.py
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_plotting.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/portfolio/__init__.py
  tests/e2e/test_returns_track_price.py
Due: notebook-clear-outputs

bump locked dependency versions
  uv.lock
Due: none

Fix NAV metric (scale by initial capital)
  src/backtest_lib/backtest/__init__.py
  src/backtest_lib/backtest/results.py
  tests/e2e/test_returns_track_price.py
Due: none

Add another end-to-end test over a single market movement (1 decision)
  src/backtest_lib/backtest/results.py
  src/backtest_lib/market/polars_impl/_past_view.py
  tests/conftest.py
  tests/data/simple_market.csv
  tests/e2e/short_schedule_test.py
Due: none

Add to_series to official Timeseries contract, change as_series to to_series
  README.md
  src/backtest_lib/backtest/__init__.py
  src/backtest_lib/backtest/results.py
  src/backtest_lib/examples/ewma.ipynb
  src/backtest_lib/examples/full_sp500_test.ipynb
  src/backtest_lib/examples/sp500.ipynb
  src/backtest_lib/market/polars_impl/_axis.py
  src/backtest_lib/market/polars_impl/_plotting.py
  src/backtest_lib/market/polars_impl/_timeseries.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/market/timeseries.py
  src/backtest_lib/portfolio/__init__.py
  tests/e2e/short_schedule_test.py
Due: notebook-clear-outputs

Add more docstrings across core public API
  src/backtest_lib/backtest/settings.py
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/plotting.py
  src/backtest_lib/portfolio/__init__.py
  src/backtest_lib/strategy/__init__.py
  src/backtest_lib/universe/__init__.py
Due: none

Refine API docs structure and privatize backends
  docs/source/_templates/autosummary/data.rst
  docs/source/reference/backtest/results.rst
  docs/source/reference/backtest/schedule.rst
  docs/source/reference/backtest/settings.rst
  docs/source/reference/engine/decision/index.rst
  docs/source/reference/engine/execute/index.rst
  docs/source/reference/engine/index.rst
  docs/source/reference/engine/plan/index.rst
  docs/source/reference/market/axis_policy.rst
  docs/source/reference/market/past_view.rst
  docs/source/reference/market/plotting.rst
  docs/source/reference/portfolio/index.rst
  docs/source/reference/strategy/index.rst
  docs/source/reference/universe/index.rst
  src/backtest_lib/backtest/__init__.py
  src/backtest_lib/backtest/results.py
  src/backtest_lib/backtest/schedule.py
  src/backtest_lib/backtest/settings.py
  src/backtest_lib/engine/__init__.py
  src/backtest_lib/engine/decision/__init__.py
  src/backtest_lib/engine/execute/__init__.py
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/engine/plan/__init__.py
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/_backends.py
  src/backtest_lib/market/plotting.py
  src/backtest_lib/market/polars_impl/_axis.py
  src/backtest_lib/market/polars_impl/_helpers.py
  src/backtest_lib/market/polars_impl/_plotting.py
  src/backtest_lib/portfolio/__init__.py
  src/backtest_lib/strategy/__init__.py
  src/backtest_lib/universe/__init__.py
  src/backtest_lib/universe/universe_mapping.py
Due: doctest, docs

Add more docs
  docs/source/reference/decision/index.rst
  docs/source/reference/engine/decision/index.rst
  docs/source/reference/index.rst
  src/backtest_lib/backtest/results.py
  src/backtest_lib/engine/decision/__init__.py
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/engine/plan/__init__.py
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/plotting.py
  src/backtest_lib/portfolio/__init__.py
Due: doctest, docs

Add docstrings for the vector_mapping and universe_mapping modules.
  justfile
  pyproject.toml
  src/backtest_lib/universe/universe_mapping.py
  src/backtest_lib/universe/vector_mapping.py
  tests/benchmark/polars_impl/test_universe_mapping_benchmark.py
  tests/conftest.py
  uv.lock
Due: none

Add docs for decision schedules with tests from schedule_tests.ipynb
  src/backtest_lib/backtest/schedule.py
  tests/unit/backtest/test_schedule.py
Due: none

Add more tests for decision schedule and better error handling
  pyproject.toml
  src/backtest_lib/backtest/schedule.py
  tests/unit/backtest/test_schedule.py
Due: none

chore: bump uv.lock dependencies (pandas 3.0, yay!)
  uv.lock
Due: none

Use up-to-date pytest header
  pyproject.toml
Due: none

Remove unused `audit` module for now.
  src/backtest_lib/audit/__init__.py
  src/backtest_lib/audit/lookahead_bias.py
Due: none

Refine plotting code and add unit tests.
  src/backtest_lib/market/plotting.py
  src/backtest_lib/market/polars_impl/_plotting.py
  tests/unit/market/polars_impl/test_plotting.py
Due: none

Improve error handling for BySecurity.__getitem__, make ordering guaranteed for from_security_mappings
  src/backtest_lib/market/polars_impl/_past_view.py
Due: none

Add data check unit test for plotting
  tests/unit/market/polars_impl/test_plotting.py
Due: none

Fix double-slicing bug in PolarsPastView
  src/backtest_lib/market/polars_impl/_past_view.py
Due: none

Add unit tests for PolarsPastView, PolarsByPeriod, and PolarsBySecurity
  tests/unit/market/polars_impl/test_polars_past_view.py
Due: none

Add universe_mapping and timeseries tests, add more past_view tests. Fix bug in PolarsBySecurity.as_df with show_periods==True
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  tests/unit/market/polars_impl/test_polars_past_view.py
  tests/unit/market/polars_impl/test_polars_timeseries.py
  tests/unit/market/polars_impl/test_polars_universe_mapping.py
Due: none

Add unit tests for the portfolio module, as well as the market module and its axis policies
  tests/unit/market/test_axis_policy.py
  tests/unit/market/test_market_view.py
  tests/unit/portfolio/test_portfolio.py
Due: none

Use LazyFrame by default
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/polars_impl/_past_view.py
Due: none

remove WIP from readme
  README.md
Due: none

add `cash` and `uniform_portfolio` functions to root import
  README.md
  src/backtest_lib/__init__.py
  src/backtest_lib/backtest/__init__.py
  tests/e2e/short_schedule_test.py
Due: none

add Quickstart section to README
  README.md
Due: none

fix up sp500 notebook
  src/backtest_lib/examples/sp500.ipynb
Due: notebook-clear-outputs

Fix padding in BySecurity all lines chart
  src/backtest_lib/market/polars_impl/_plotting.py
Due: none

add chart output to README
  README.md
  docs/assets/chart.svg
Due: doctest, docs

fix up some type inconsistencies
  src/backtest_lib/engine/execute/__init__.py
  src/backtest_lib/engine/execute/perfect_world.py
  src/backtest_lib/examples/sp500.ipynb
  src/backtest_lib/market/__init__.py
  src/backtest_lib/market/plotting.py
  src/backtest_lib/market/polars_impl/_past_view.py
  src/backtest_lib/market/polars_impl/_plotting.py
  src/backtest_lib/market/polars_impl/_timeseries.py
  src/backtest_lib/market/polars_impl/_universe_mapping.py
  src/backtest_lib/universe/universe_mapping.py
  tests/unit/backtest/test_schedule.py
  tests/unit/market/polars_impl/test_polars_past_view.py
Due: notebook-clear-outputs

chore: run uv lock --upgrade
  uv.lock
Due: none

Add docs deployment action
  .github/workflows/build-and-deploy-docs.yml
Due: none

use new pandas docs inventory URL
  docs/source/conf.py
Due: doctest, docs

Update project description, update version in conf.py
  docs/source/conf.py
  pyproject.toml
Due: doctest, docs

update .python-version, relax requires-python for package
  .python-version
  pyproject.toml
  uv.lock
Due: none

add docs link to README
  README.md
Due: none
